<section class="social-icons-tray">
  <app-icon-link
    type="external"
    href="https://www.linkedin.com/in/ephraimpei"
    src="assets/svg/linkedin.svg">
  </app-icon-link>
  <app-icon-link
    type="external"
    href="https://github.com/ephraimpei"
    src="assets/svg/github.svg">
  </app-icon-link>
  <app-icon-link
    type="external"
    href="https://www.facebook.com/ephdawg3374"
    src="assets/svg/facebook.svg">
  </app-icon-link>
  <app-icon-link
    type="external"
    href="https://www.instagram.com/ephraimpei"
    src="assets/svg/instagram.svg">
  </app-icon-link>
  <app-icon-link
    type="external"
    href="https://medium.com/@ephraimpei"
    src="assets/svg/medium.svg">
  </app-icon-link>
</section>