@import 'variables';
@import 'mixins';
@import 'animations';

.content-space
{
  width: 100%;
  height: 100%;
  background: transparent;
  margin: auto;

  &::ng-deep summary
  {
    @include apply-cross-browser-y-scrolling();
  }
}

:host-context(.about-page)
{
  .content-space
  {
    width: 80%;

    @include respond-to(tablet)
    {
      width: 75%;
    }

    @include respond-to(desktop)
    {
      width: 60%;
    }
  }

  &::ng-deep summary
  {
    max-height: 65vh;
    padding: 15px 25px;
    line-height: 2;
  }
}

:host-context(.app-base-layer.curtains-active)
{
  .content-space
  {
    animation: expand-80 $background-img-trans-time linear;
    width: 80%;
    background: $white;

    @include respond-above(desktop)
    {
      animation: expand-65 $background-img-trans-time linear;
      width: 65%;
    }
  }
}