@import 'variables';
@import 'mixins';
@import 'animations';

.content-space
{
  width: 100%;
  height: 100%;
  background: transparent;
  margin: auto;
}

:host-context(.app-base-layer.curtains-active)
{
  .content-space
  {
    animation: expand-80 $background-img-trans-time linear;
    width: 80%;
    background: $white;

    @include respond-above(desktop)
    {
      animation: expand-65 $background-img-trans-time linear;
      width: 65%;
    }
  }
}