@import 'mixins';

@keyframes show-curtains {
  0%
  {
    width: 50%;
  }
  100%
  {
    width: 17.5%;
  }
}

@keyframes hide-right-curtains {
  0%
  {
    border-left: 2px solid $black;
    width: 17.5%;
  }
  100%
  {
    width: 50%;
  }
}

@keyframes hide-left-curtains {
  0%
  {
    border-right: 2px solid $black;
    width: 17.5%;
  }
  100%
  {
    width: 50%;
  }
}