@import 'mixins';

@keyframes expand-100
{
  0%
  {
    width: 0%;
  }
  100%
  {
    width: 100%;
  }
}

@keyframes expand-80
{
  0%
  {
    width: 0%;
  }
  100%
  {
    width: 80%;
  }
}

@keyframes expand-65
{
  0%
  {
    width: 0%;
  }
  100%
  {
    width: 65%;
  }
}