@import 'variables';

@mixin above($breakpoint)
{
  @media only screen and (min-width: $breakpoint)
  {
    @content;
  }
}

@mixin below($breakpoint)
{
  @media only screen and (max-width: $breakpoint)
  {
    @content;
  }
}

@mixin respond-to($device)
{
  @if $device == mobile
  {
    @media only screen and (min-width: $x-small) and (max-width: $small - 1)
    {
      @content;
    }
  }
  @else if $device == tablet
  {
    @media only screen and (min-width: $small) and (max-width: $large - 1)
    {
      @content;
    }
  }
  @else if $device == desktop
  {
    @media only screen and (min-width: $large)
    {
      @content;
    }
  }
}

@mixin respond-above($device)
{
  @if $device == tablet
  {
    @media only screen and (min-width: $small)
    {
      @content;
    }
  }
  @else if $device == desktop
  {
    @media only screen and (min-width: $large)
    {
      @content;
    }
  }
}

@mixin keyframes($animationName)
{
  @keyframes #{$animationName}
  {
    @content;
  }
}

@mixin clear-fix()
{
  content: "";
  display: table;
  clear: both;
}

@mixin apply-border-box()
{
  box-sizing: border-box;
  border: $dark-grey solid 1px;
  padding: .25em;
  background-color: $white;
}