// Font weight variables
$light: 300;
$normal: 400;
$bold: 700;

// Breakpoints
$x-small: 0px;
$small: 450px;
$medium: 650px;
$large: 850px;
$x-large: 1050px;
$hd: 1440px;

// Effects
$drop-shadow: 0 10px 6px -6px #777;