// Font weight variables
$light: 300;
$normal: 400;
$bold: 700;

// Colors
$white: #ffffff;
$black: #000000;

// Breakpoints
$x-small: 0px;
$small: 450px;
$medium: 650px;
$large: 850px;
$x-large: 1050px;
$hd: 1440px;

// Effects
$drop-shadow: 0 10px 6px -6px #777;

// Z Indexes
$z-index-0: 0;
$z-index-1: 1;
$z-index-2: 2;

// Misc.
$max-height-bg: 770px;

// Transitions
$background-img-trans-time: .4s;