<main class="about-page">
  <app-content-space>
    <summary>
      <div class="short-version">
        <div class="short-version--text">
          <strong>The short version</strong>
          <br>
          Web development professional.
          <br>
          Expert JavaScripter.
          <br>
          Sports enthusiast.
          <br>
          A willing volunteer.
        </div>
        <div class="short-version--img">
          <img src="assets/png/ephraim-pei.png" />
        </div>
      </div>
      <br><br>
      <strong>The long version</strong>
      <br>
      Ephraim is highly proficient web development professional with expert <strong>Javascript</strong>, <strong>CSS3</strong>, and <strong>HTML5</strong> skills. He is an advocate for component based UI development using frameworks such as <strong>React</strong>, <strong>Angular</strong>, and <strong>Vue</strong>. On the server he is highly proficient in server side rendering, file management, I/O, and HTTP response handling with <strong>Node.js</strong> and <strong>Python</strong> backend systems and data handling/modeling with <strong>Mongo DB</strong>, <strong>MySQL</strong>, <strong>Redis</strong>, <strong>Postgresql</strong>. Ephraim is also a huge fan of typed Javascript languages such as <strong>Typescript</strong> and <strong>Flow</strong>.
      <br><br>
      At his core Ephraim is an engineer with a strong understanding of software and web development fundamentals, an algorithmic mindset, and grit that overcomes many obstacles. In his spare time, he enjoys rock climbing, cycling, basketball (huge NBA fan), volunteering, and reading about tech.
      <br><br>
      Currently, Ephraim is a Web Developer at VICE Media LLC working on the VICE Video site, Viceland site, and VICE Web Video Player products. Areas of focus are improving DX, deployment process, performance tuning, web/video analytics, and working on cool new video features.
    </summary>
  </app-content-space>
</main>
