@import 'variables';
@import 'mixins';

.about-page
{
  position: relative;
  top: 15px;

  @include respond-above(tablet)
  {
    top: 25px;
  }

  summary
  {
    overflow: scroll;

    @media only screen and (max-height: $max-height-bg)
    {
      max-height: 250px;
    }
  }
}