@import 'variables';
@import 'mixins';

.project-item
{
  *
  {
    text-align: center;
  }

  hr
  {
    border-style: solid;
    border-color: $dark-grey;
    border-width: 0.5px;
    width: 100%;
    margin: 32px auto;

    @include respond-above(tablet)
    {
      width: 65%;
    }
  }

  h4
  {
    margin: 1rem 0;
  }

  a
  {
    color: blue;
  }

  .lede
  {
    margin: 30px auto;

    img
    {
      @include apply-border-box();
      width: 100%;

      @include respond-above(tablet)
      {
        width: 65%;
      }
    }
  }
}