@import 'variables';
@import 'mixins';
@import 'animations';

#root
{
  height: 100%;
  background-image: url("../../assets/svg/nyc-skyline.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-color: $light-grey;
  transition: background-size $background-img-trans-time ease-in-out;
  z-index: $z-index-0;
  overflow: hidden;

  &.small-bg
  {
    background-size: 65%;
  }

  .app-base-layer
  {
    height: calc(100% - 65px);
    position: relative;
    margin-top: -9px;

    .left-curtain,
    .right-curtain
    {
      height: 100%;
      position: absolute;
    }

    .left-curtain
    {
      left: 0;
    }

    .right-curtain
    {
      right: 0;
    }

    &.curtains-active
    {
      .left-curtain
      {
        border-right: 2px solid $black;
        animation: show-curtains $background-img-trans-time linear;
        width: 10%;
      }

      .right-curtain
      {
        border-left: 2px solid $black;
        animation: show-curtains $background-img-trans-time linear;
        width: 10%;
      }

      @include respond-above(desktop)
      {
        .left-curtain,
        .right-curtain
        {
          width: 17.5%;
        }
      }
    }

    &.curtains-inactive
    {
      .left-curtain
      {
        animation: hide-left-curtains-mobile $background-img-trans-time linear;

        @include respond-above(desktop)
        {
          animation: hide-left-curtains $background-img-trans-time linear;
        }
      }

      .right-curtain
      {
        animation: hide-right-curtains-mobile $background-img-trans-time linear;

        @include respond-above(desktop)
        {
          animation: hide-right-curtains $background-img-trans-time linear;
        }
      }
    }

    @include respond-above(tablet)
    {
      height: calc(100% - 40px);
    }
  }

  @media only screen and (max-height: $max-height-bg) {
    background-size: 100% !important;
  }
}