@import 'variables';
@import 'mixins';
@import 'animations';

#root
{
  height: 100%;
  background-image: url("../../assets/svg/nyc-skyline.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  transition: background-size $background-img-trans-time ease-in-out;
  z-index: $z-index-0;

  &.small-bg
  {
    background-size: 65%;
  }

  .app-base-layer
  {
    height: 100%;
    position: relative;

    .left-curtain,
    .right-curtain
    {
      height: 100%;
      position: absolute;
      // transition: width $background-img-trans-time linear;
    }

    .left-curtain
    {
      left: 0;
    }

    .right-curtain
    {
      right: 0;
    }

    &.curtains-active
    {
      .left-curtain
      {
        border-right: 2px solid $black;
        width: 10%;
        animation: show-curtains $background-img-trans-time linear;
      }

      .right-curtain
      {
        border-left: 2px solid $black;
        width: 10%;
        animation: show-curtains $background-img-trans-time linear;
      }

      @include respond-above(desktop)
      {
        .left-curtain,
        .right-curtain
        {
          width: 17.5%;
        }
      }
    }

    &.curtains-inactive
    {
      .left-curtain
      {
        animation: hide-left-curtains-mobile $background-img-trans-time linear;
      }

      .right-curtain
      {
        animation: hide-right-curtains-mobile $background-img-trans-time linear;
      }

      @include respond-above(desktop)
        {
          .left-curtain
        {
          animation: hide-left-curtains $background-img-trans-time linear;
        }

        .right-curtain
        {
          animation: hide-right-curtains $background-img-trans-time linear;
        }
      }
    }
  }

  @media only screen and (max-height: $max-height-bg) {
    background-size: 100% !important;
  }
}