@import 'variables';
@import 'mixins';

.home-page
{
  text-align: center;
  z-index: $z-index-1;
  padding: 30px 30px 0;

  .name
  {
    margin-top: 0;
  }

  @include respond-above(tablet)
  {
    padding: 30px 0 0;
  }

  @include apply-white-bg-window(40%);
}