@import 'variables';
@import 'mixins';

.shadow-mask
{
  background: $light-grey;
  z-index: $z-index-2;
  padding-bottom: 10px;
}

.header-nav
{
  box-shadow: $drop-shadow;
  padding: 10px 0%;
  background: $white;
  width: 100%;

  .links-tray
  {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;

    @include respond-above(tablet)
    {
      width: 60%;
    }
  }
}

:host ::ng-deep .text-link
{
  width: 25%;
  text-align: center;

  &.active
  {
    font-weight: $bold;
    cursor: default;
  }

  @include respond-above(desktop)
  {
    transition: transform $background-img-trans-time ease-in-out;

    &:hover:not(.active)
    {
      font-weight: $bold;
      transform: scale(1.2);
    }
  }
}