@import 'variables';
@import 'mixins';

.shadow-mask
{
  background: $white;
  z-index: $z-index-2;
  padding-bottom: 10px;
}

.header
{
  display: flex;
  box-shadow: $drop-shadow;
  padding: 10px 0%;
  background: $white;

  a
  {
    width: 25%;
    text-align: center;

    &.active
    {
      font-weight: $bold;
      cursor: default;
    }

    @include respond-above(tablet)
    {
      transition: transform .3s ease-in-out;

      &:hover:not(.active)
      {
        font-weight: $bold;
        transform: scale(1.2);
      }
    }
  }

  @include respond-above(tablet)
  {
    width: 60%;
    margin: 0 auto;
    padding: 20px 20%;
  }
}