<div class="shadow-mask">
    <nav class="header-nav">
        <section class="links-tray">
            <app-responsive-link>
                    <app-text-link href="/" text="Home" exactMatch="true"></app-text-link>
                    <app-icon-link href="/" src="assets/svg/home.svg"></app-icon-link>
                </app-responsive-link>
                <app-responsive-link>
                    <app-text-link href="/projects" text="Projects"></app-text-link>
                    <app-icon-link href="/projects" src="assets/svg/portfolio.svg"></app-icon-link>
                </app-responsive-link>
                <app-responsive-link>
                    <app-text-link href="/about" text="About"></app-text-link>
                    <app-icon-link href="/about" src="assets/svg/info.svg"></app-icon-link>
                </app-responsive-link>
                <app-responsive-link>
                    <app-text-link href="/contact" text="Contact"></app-text-link>
                    <app-icon-link href="/contact" src="assets/svg/contact.svg"></app-icon-link>
                </app-responsive-link>
        </section>
    </nav>
</div>
